 /*-- NTV
====================================================== --*/


/**
 * 关于NGB-H, SHDV, iPanel中间件CSS问题汇总
 * 1. iPanel中间件不支持属性
 *    min-width(min-height)  使用后回出现元素不显示,例如设置了背景图就不会显示.
 *    clear: both;           使用与webkit不一样, clear会从当前元素之后. webkit会从当前元素开始.
 *    display: inline;       使用后元素的margin不起效.
 *
 * 2. SHDV中间件注意部分
 *    <ul> 标签要手动清除margin, padding默认间距
 */

/*--Reset
====================================================== */
body{margin:0px; padding: 0px; font-family: "微软雅黑"; font-size: 20px;}
ul{list-style: none; margin:0px; padding: 0px;}
li{margin:0px; padding: 0px;}
input,button,select,textarea{ outline:none;}
textarea{ font-size:13px; resize:none;}
a{text-decoration: none;outline: none;}
p{margin:0px; padding: 0px;}
a:focus{
	-webkit-box-shadow: 0 0 8px 3px #8bbcff;
  	-moz-box-shadow: 0 0 8px 3px #8bbcff;
	box-shadow: 0 0 8px 3px #8bbcff;
	border-radius: 5px;
}

/*--Common
====================================================== */
.container{width:1280px; height: 720px; overflow: hidden; background-color: #e6e6e6;position: absolute;}
.console{ width:1200px; position: absolute; top: 40px; left: 40px; height: 20px; color: #fff; z-index:9;}
.console p{background-color: #336699; opacity: 0.7;}
.pos-abs{display:block; position: absolute;}
.pos-rel{display:block; position: relative;}
.float-clear,ul{clear: both;}

/*--Ntv
====================================================== */
.ntv{font-family: "微软雅黑";font-size: 22px;color: #ffffff; font-weight: bold;overflow: hidden;background-color: rgba(17,17,17,0.9);border: solid 2px #FFC106;}
.ntv ul{margin: 100px 150px 0px 150px;}
.ntv li{margin: 0px 50px 30px 0px; display: inline;}

 /*--myCss
====================================================== */
 .container {background: url('../img/index/background.jpg') no-repeat;}
 .hide{
	 visibility: hidden;
 }
 .show{
	 visibility: visible;
 }
 /*首页*/
 #leftLogo{
	 position: absolute;
	 top:60px;
	 left:105px;
 }
 #rightLogo{
	 position: absolute;
	 top:60px;
	 right: 70px;
 }
 #nav{
	 position: absolute;
	 top:78px;
	 left: 105px;
 }
 #idxCenter{
	 position: absolute;
	 top:147px;
	 left: 105px;
 }
 .idx1{
	 position: absolute;
	 top:0;
	 left:0;
 }
 .idx2{
	 position: absolute;
	 top:0;
	 left:360px;
 }
 .idx3{
	 position: absolute;
	 top:0;
	 left:720px;
 }
 .idx4{
	 position: absolute;
	 top:220px;
	 left:0;
 }
 .idx5{
	 position: absolute;
	 top:220px;
	 left:720px;
 }

 /*二级页面*/
 #header{
	 position: absolute;
	 top:53px;
	 left: 105px;
 }
 #title{
	 position:absolute;
	 left:613px;
	 top:70px;
	 font-size: 28px;
	 color: #fff;
 }
 .title{
	 left: 530px!important;
 }
 #asideList li img,#centerList li img:first-child,#footer li img{
	 position:absolute;
	 top:0;
	 left: 0;
 }
 #asideList{
	 position: absolute;
	 top:137px;
	 left: 105px;
 }
 #asideList li{
	 width: 154px;
	 height: 54px;
	 line-height: 54px;
	 padding: 0 10px;
	 text-align: center;
	 color:#f3f8fd;
	 font-size: 20px;
	 position: relative;
 }
 #asideList li span{
	 color:#f3f8fd;
	 font-size: 16px;
 }
 #centerList{
	 position: absolute;
	 top:137px;
	 left: 310px;
 }
 #centerList{
	 position: absolute;
	 top:137px;
	 left: 310px;
 }
 #centerList ul{
	 clear: both;
	 height: 480px;
	 overflow: auto;
 }
 #centerList li{
	 float: left;
	 width: 176px;
	 height: 146px;
	 padding: 60px 15px 0;
	 margin-right: 14px;
	 margin-bottom: 14px;
	 text-align: center;
	 color:#fff;
	 position: relative;
 }
 #centerList li p{
	 margin-bottom: 10px;
	 overflow: hidden;
	 text-overflow:ellipsis;
	 white-space: nowrap;
 }
 #footer{
	 position: absolute;
	 top:720px;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding-left: 140px;
	 background-color:#171717;
	 color:#bbbbbb;
 }
 #footer li{
	 float: left;
	 padding:8px 13px;
	 margin:10px 20px;
	 cursor: pointer;
	 position:relative;
 }
 #footer li span{
	 padding-left: 30px;
 }
 /*三级页面*/
 #subCenterList{
	 position: absolute;
	 top:145px;
	 left: 105px;
 }
 #subCenterList li img:first-child{
	 position:absolute;
	 top:0;
	 left: 0;
 }
 #subCenterList ul{
	 clear: both;
	 height: 480px;
	 overflow: auto;
 }
 #subCenterList li{
	 float: left;
	 width: 226px;
	 height: 146px;
	 padding: 60px 15px 0;
	 margin-right: 14px;
	 margin-bottom: 14px;
	 text-align: center;
	 color:#fff;
	 position: relative;
 }
 #subCenterList li p{
	 margin-bottom: 10px;
	 overflow: hidden;
	 text-overflow:ellipsis;
	 white-space: nowrap;
 }






