.firstVideoList {
	background: url(../images/secondVideoList/bg.png) no-repeat !important;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
	width:1280px;
	height:720px;
}
.firstVideoList1 {
	background: url(../images/arts/bg.png) no-repeat !important;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
	width:1280px;
	height:720px;
}



.title-bg {
	position: absolute;
	top: 86px;
	left: 118px;
	width: 140px;
}

.title-back {
	position: absolute;
	top: 50px;
	left: 70px;
}

.firstVideoList-no-data {
	padding-top: 160px;
	font-size: 40px;
	color: #81a1b9;
	text-align: center;
	line-height: 200px;
}

.firstVideoList-header {
	position: absolute;
}

.firstVideoList-title {
	position: absolute;
	top: 42px;
	left: 78px;
}

.firstVideoList-title1 {
	font-size: 35px;
	color: rgb(255, 192, 0);
	position: absolute;
	top: 40px;
	left: 71px;
	width: 150px;
}

.firstVideoList-title2 {
	font-size: 30px;
}

.firstVideoList-title3 {
	font-size: 30px;
	color: rgb(150, 156, 153);
	position: absolute;
	top: 45px;
	left: 265pX;
}

.firstVideoList-sf {
	top: -5px;
	position: absolute;
	width: 101px;
	height: 40px;
	padding-top: 9px;
	padding-left: 11px;;
	padding-bottom: 5px;
	background-repeat: no-repeat;
}

.search {
	left: 780px;
}

.filter {
	left: 880px;
}

.sf-bg {
	background-image: url("../images/6.png");
}

.sf-bg-on {
	background-image: url("../images/5.png");
}

.firstVideoList-main {
	width: 105px;
	height: 105px;
	position: absolute;
	left: 1065px;
}

.main {
	background: url(../images/header/main.png) no-repeat !important;
}

.main-on {
	background: url(../images/header/main_f.png) no-repeat !important;
}

.firstVideoList-back {
	width: 105px;
	height: 105px;
	position: absolute;
	left: 1125px;
}

.back {
	background: url(../images/header/back.png) no-repeat !important;
}

.back-on {
	background: url(../images/header/back_f.png) no-repeat !important;
}

.firstVideoList-page {
	background-image: url("../images/8.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 1080px;
	text-align: center;
	top: 665px;
	left: 100px;
	font-size: 25px;
	clear: both;
}

.firstVideoList-turn-right {
	width: 13px;
	height: 35px;
	position: absolute;
	left: 1225px;
	top: 348px;
	background-repeat: no-repeat;
	background-image: url("../images/secondVideoList/right.png");
}

.firstVideoList-turn-left {
	width: 13px;
	height: 35px;
	position: absolute;
	left: 35px;
	top: 348px;
	background-repeat: no-repeat;
	background-image: url("../images/secondVideoList/left.png");
}

.firstVideoList-border {
	position: absolute;
	display: none;
}

.firstVideoList-border-on {
    position: absolute;
	display: block;
	z-index:0;
}

.firstVideoList-mark {
	position: absolute;
	width: 52px;
	height: 52px;
}

.firstVideoList-mark-on {
	position: absolute;
	height: 60px;
	width: 60px;
}
.firstVideoList-border0 {
	top: 76px;
	left: 44px;
}

.firstVideoList-border1 {
	top: 76px;
	left: 235px;
}

.firstVideoList-border2 {
	top: 76px;
	left: 426px;
}

.firstVideoList-border3 {
	top: 76px;
	left: 617px;
}

.firstVideoList-border4 {
	top: 76px;
	left: 808px;
}

.firstVideoList-border5 {
	top: 76px;
	left: 999px;
}

.firstVideoList-border6 {
	top: 356px;
	left: 44px;
}

.firstVideoList-border7 {
	top: 356px;
	left: 235px;
}

.firstVideoList-border8 {
	top: 356px;
	left: 426px;
}

.firstVideoList-border9 {
	top: 356px;
	left: 617px;
}

.firstVideoList-border10 {
	top: 356px;
	left: 808px;
}

.firstVideoList-border11 {
	top: 356px;
	left: 999px;
}

.firstVideoList-video {
	float: left;
	padding-right: 23px;
	width: 168px;
	height: 290px;
}

.firstVideoList-poster {
	width: 166px;
	height: 230px;
/* 	padding: 10px 10px 0px 10px;
 */}

.firstVideoList-poster-on {
	width: 180px;
	height: 240px;
	padding-bottom:2px;
}

.firstVideoList-left {
	position: absolute;
    top: 101px;
    left: 77px;
	width: 1200px;
	height: 600px;
	z-index:0;
}

.firstVideoList-video-title {
	color: white;
	font-size: 25px;
	width: 168px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	text-align: center;
	font-family: "Microsoft YaHei";
}

.firstVideoList-pages {
	font-size: 25px;
}