*{
margin:0px;
padding:0px;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,Kreon;
    font-size: 16px;
}
.clearDiv{
	clear:both;
}

.foot{
    margin-top: 130px;
}
.body{
	background:url(../images/rankList/bg.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:1280px;
	height:720px;
}

.foot-1{
	float:left;
	margin:0px 0 0 245px;
	width:70px;
	height:70px;
}

.foot-1 span{
	float:left;
	padding:5px 0 0 0px;
	color:#fff;
	width:90px;
	font-weight: 800;
	margin-left: 47px;
}

.foot-2{
	float:left;
	margin:0px 0 0 35px;
	width:70px;
	height:70px;
}
.foot-2 span{
	float:left;
	padding:5px 0 0 0px;
	color:#fff;
	width:90px;
	font-weight: 800;
	margin-left: 30px;
}
/* --content top-- */
/* div1 */
.content-top-div1-img1{
    left: 62px;
    position: absolute;
    top: 126px;
}
.content-top-div1-img2{
    left: 51px;
    position: absolute;
    top: 452px;
}
.content-top-div1-img3{
    position: absolute;
    top: 459px;
    left: 59px;
    z-index: 1;
}

.content-top-div1-span{
	color: #ffffff;
    font-size: 31px;
    font-family: SimHei;
    position: absolute;
    top: 186px;
    left: 330px;
    z-index:1;
}

.content-top-div1-img1-on{
    height: 510px;
    width: 316px;
    z-index: 1;
    border: solid;
    border-width: 1px;
}
.div-on{
    top: 104px;
    z-index: 1;
    left: 55px;
    padding: 3px 3px 0px 3px;
    background-color: white;
    position: absolute;
    box-shadow:-2px -2px 15px #0066ff,2px 2px 15px #0066ff;
}


/* div2 */
.content-top-div2-img1{
    position: absolute;
    top: 126px;
 
    left: 355px;
}
.content-top-div2-img2{
    position: absolute;
    top: 452px;
    left: 345px;
}
.content-top-div2-img3{
    position: absolute;
    top: 459px;
    left: 355px;
    z-index: 1;
}
.content-top-div2-span{
    color: #ffffff;
    font-size: 21px;
    font-family: SimHei;
    position: absolute;
    top: 226px;
    left: 502px;
    z-index: 1;
}

.content-top-div2-img1-on{
    position: absolute;

    top: 104px;
    left: 446px;
    z-index: 1;
}
/* div3 */
.content-top-div3-img1{
    position: absolute;
    top: 126px;
    left: 649px;
}
.content-top-div3-img2{
    position: absolute;
    top: 452px;
    left: 639px;
}
.content-top-div3-img3{
    position: absolute;
    top: 459px;
    left: 649px;
    z-index: 1;
}
.content-top-div3-img1-on{
	position: absolute;

    top: 104px;
    left: 726px;
    z-index: 1;
}
/* div4 */
.content-top-div4-img1{
    position: absolute;
    top: 126px;
    left: 942px;
}
.content-top-div4-img2{
    position: absolute;
    top: 452px;
    left: 933px;
}
.content-top-div3-img3{
    position: absolute;
    top: 459px;
    left: 943px;
    z-index: 1;
}
.content-top-div4-img1-on{
    position: absolute;
    height: 235px;
   	top: 104px;
    z-index: 1;
}

