.special {
	width: 1280px;
	height: 720px;
}
.special-mark{
	position: absolute;
    top: 0px;
}
.special-mark-on{
	position: absolute;
    top: 150px;
}

.special-top{
    position: absolute;
    top: 350px;
    left: 60px;
    height: 300px;
    width: 1200px;
}

.special-video{
    float: left;
    width: 193px;
    height: 278px;
    position: absolute;
}

.special-poster {
    width: 170px;
    height: 255px;
}

.special-poster-on {
   	width: 190px;
    height: 280px;
}

.special-video-title-on {
    color: white;
    font-size: 25px;
    overflow: hidden;
    text-align: center;
    font-family: "Microsoft YaHei";
    background-color: black;
    opacity: 0.6;
    width: 190px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 22px;
    left:0px;
}

.special-video-title {
    color: white;
    font-size: 25px;
    width: 170px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    text-align: center;
    font-family: "Microsoft YaHei";
    background-color: black;
    opacity: 0.6;
    position: absolute;
    bottom: 22px;
    left:0px;
}
.special-border{
	position: absolute;
    z-index: 0;
}